---
import ContactLink from "./Contactlink.astro";
import Send from "../icons/Send.astro";
import Copy from "../icons/Copy.astro";
import Linkedin from "../icons/Linkedin.astro";
import Github from "../icons/Github.astro";
import Whatsapp from "../icons/Whatsapp.astro";

const mail = "jairorojas@jayoweb.dev";
---

<section id="contact" class="page__section">
  <article>
    <span class="contact__mail__item">@</span>
    <span id="mail" class="contact__mail__item contact__mail">{mail}</span>
    <a
      class="contact__mail__item contact__clickeable"
      href=`mailto:${mail}?subject=Consulta&body=Hola%20Jairo,%20he%20visto%20tu%20portafolio%20web%20y%20queria%20consultarte...`
    >
      <Send />
    </a>
    <button
      id="copyToClipboard"
      class="contact__mail__item contact__clickeable"
    >
      <Copy />
    </button>
  </article>
  <article>
    <ContactLink
      Icon={Linkedin}
      link="https://www.linkedin.com/in/jairo-rojas/"
    />
    <ContactLink Icon={Github} link="https://github.com/JairoRojasJR" />
    <ContactLink
      Icon={Whatsapp}
      link="https://api.whatsapp.com/send?phone=593982688824&text=Hola%20Jairo%2C%20he%20visto%20tu%20portafolio%20web%20y%20quer%C3%ADa%20contactarte."
    />
  </article>
</section>

<style>
  .page__section {
    align-items: center;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    background: #00000033;
    backdrop-filter: blur(5px);
    padding: 1.5em 0.5em;
    width: 100%;
    max-width: 600px;
  }

  article {
    display: flex;
  }

  article:nth-of-type(1) {
    gap: 0.25em;
  }

  article:nth-of-type(2) {
    gap: 1.5em;
  }

  .contact__mail__item {
    background-color: var(--primary);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25em;
  }

  .contact__mail__item,
  .contact__mail,
  .contact__clickeable {
    display: grid;
    place-content: center;
  }

  .contact__mail {
    font-size: inherit;
  }

  .contact__clickeable {
    color: var(--play-a);
    cursor: pointer;
  }

  #copyToClipboard {
    position: relative;
  }

  #copyToClipboard::before {
    display: none;
    content: 'Copiado';
    position: absolute;
    left: calc(50% - 0.325em);
    bottom: 100%;
    padding: 0.5em;
    background-color: var(--primary);
    border: 3px solid #000;
    color: var(--light);
    backdrop-filter: blur(10px);
    font-size: 0.65em;
    border-radius: 0.5em;
    border-bottom-left-radius: 0;
    animation: show 2s both;
  }

  #copyToClipboard:focus::before {
    display: block;
  }

  @keyframes show {
    0% {
      opacity: 0;
    }

    25%, 75% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      display: none;
    }
  }
</style>

<script>
  const $copyToClipboard = document.getElementById("copyToClipboard");
  $copyToClipboard?.addEventListener("click", async () => {
    const $mail = document.getElementById("mail") as HTMLSpanElement;
    await navigator.clipboard.writeText($mail?.textContent ?? "");
  });
</script>
