---
import Css from "../icons/Css.astro";
import Express from "../icons/Express.astro";
import Git from "../icons/Git.astro";
import Github from "../icons/Github.astro";
import Html from "../icons/Html.astro";
import Javascript from "../icons/Javascript.astro";
import Mongodb from "../icons/Mongodb.astro";
import Mysql from "../icons/Mysql.astro";
import Nextjs from "../icons/Nextjs.astro";
import Nodejs from "../icons/Nodejs.astro";
import Php from "../icons/Php.astro";
import React from "../icons/React.astro";
import Typescript from "../icons/Typescript.astro";
import Technology from "./Technology.astro";
---

<section id="introduction" class="card__container">
  <div class="card__section">
    <h3 class="card__title">Estudiante autodidacta...</h3>
    <p>
      <strong>+1 año y medio</strong> de aprendizaje,{" "}
      <strong>desarrollador web full stack</strong> (que maneja un o varios stack
      de tecnologías).
      <br />
      <br />
      <strong>Graduado</strong> de{" "}
      <strong>bachillerato técnico en Informática</strong> en el colegio de bachillerato
      Ismael Pérez Pazmiño
      <br />
      <br />
      Nivel <strong>intermedio en inglés</strong>
    </p>
    <article class="md:ml-6">
      <h4 class="card__subtitle">Manejo las tecnologías...</h4>
      <section class="grid grid-cols-2 gap-x-4 gap-y-8 p-6 md:p-2">
        <Technology Icon={Html} name="Html" />
        <Technology Icon={Css} name="Css" />
        <Technology Icon={Javascript} name="Javascript" />
        <Technology Icon={React} name="React" />
        <Technology Icon={Nextjs} name="Nextjs" />
        <Technology Icon={Nodejs} name="Nodejs" />
        <Technology Icon={Express} name="Expess" />
        <Technology Icon={Typescript} name="Typescript" />
        <Technology Icon={Mysql} name="BBDD Sql" />
        <Technology Icon={Git} name="Git" />
        <Technology Icon={Github} name="Github" />
        <Technology Icon={Php} name="Php" />
        <Technology Icon={Mongodb} name="BBDD NoSql" />
      </section>
    </article>
    <a
      id="downloadcv"
      class="cursor-pointer bg-turquoise self-center py-2 px-6 rounded-md text-dark"
      href="CV.pdf"
      download=""
    >
      Descargar CV
    </a>
  </div>
</section>
